body {
  background-image: linear-gradient(
    to right,
    rgb(231, 45, 85),
    rgb(119, 7, 153)
  );
  color: white;
}

h1 {
  text-align: center;
}

main {
  border: solid whitesmoke 1px;
  width: 630px;
  height: 790px;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
}

#result {
  float: right;
  padding: 10px;
  margin: 10px;
  font-size: 50px;
}

#numbers {
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    height: 600px;
    width: 410px;
}
.btn {
    cursor: pointer;
    color: white;
    border: solid whitesmoke 1px;
    border-radius: 20px;
    background-color: transparent;
    height: 120px;
    width: 120px;
    font-size: 30px;
    box-shadow: 0 6px 6px rgba(0.5, 0, 0, 1);
}

#operations {
  padding: 10px;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1);
  grid-template-rows: repeat(4, 140px);
  height: 600px;
  font-size: 30px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: small;
  height: 20px;
  padding: 2px;
}
